// colors
/*
$bg: #fee9e1;
$bg-tone-2:#fad4c0;
$border:#64b6ac;
$button-as-border:$border;
$options-highlight:#d0beb9;
$home-dark: #363636;
$buttons: #b09e99;
$options: $buttons; 

$bg-main-tone:;
$bg-sec-tone:;
$hp_menu_bg:;
$nav_buttons:;
$border_main:;
$border_sec:;
$docs_filter_buttons:;
$docs_options:;
$docs_remove_bottons_border:;
$docs_nav_button:;
$table_tone1:;
$table_tone2:; 


$text-color-white: #ffffff;
$text-color-black: #000000;
$text-color-link: #0000ff;
*/


$text-color-white: #ffffff;
$text-color-black: #000000;
$text-color-link: #0000ff;

// Sizes
$max-width: 1200px;

$background: #EAE6DA;
$primary-text: #3B3B3B;
$secondary-text:#666666;
$buttons-prim: #ffba4ca8;
$buttons-sec: #8D7F70;
$hover-effect:#894e4e;
$border-2: #A8A8A8;

$bg: $background;
$bg-tone-2:$background;
$border:$border-2;
$button-as-border:$border-2;
$options-highlight:$buttons-sec;
$home-dark: #363636;
$buttons: $buttons-prim;
$options: $buttons-sec;
