$bg1: #fee9e1;
$nav1:#fad4c0;
$border1:#64b6ac;
$doc-buttons1:#64b6ac;
$doc-filter-highlight1:#d0beb9;
$dark1: #363636;
$buttons1: #b09e99;
$text-color1: #ffffff;
$text-link-color1: #0000ff;

$bg2: #fee9e1;
$nav2:#fad4c0;
$border2:#64b6ac;
$doc-buttons2:#64b6ac;
$doc-filter-highlight2:#d0beb9;
$dark2: #363636;
$buttons2: #b09e99;
$text-color2: #ffffff;
$text-link-color2: #0000ff;
