@tailwind base;
@tailwind components;
@tailwind utilities;

iframe{
  box-sizing: border-box;
  width: 100%;
  height: 80vh;
  
}
a{
  color:#0000ff; 
  text-decoration: none;
}

body{
  background-color: #FEE9E1;
  margin: 0;
}

.logo{
  width: 100px;
  height: 100px;
  background-color: #2a2a2a;
  margin-right: auto;
  margin-left: 1rem;
  border-radius: 50%;
}
.nav_wrapper{
  height: 7rem;
  width: 100%;
  border-bottom:#64B6AC solid 5px;
  background-color:#FAD4C0;
  
}

.nav_container{
  max-width: 1200px;
  margin: auto;
  width: 66%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  /* outline: 1px solid green; */
}

@media screen and (max-width:1000px) {
  .nav_container{
    width: 100%;
    /* transition: 0.2s; */
  }
}


.nav_items{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-grow: 0.2;
  flex-shrink: 0.5;
}
.nav_items > a{
  padding: 2px;
  text-decoration: none;
  border-radius: 50px;
  background-color: #B09E99;
  color: black;

  font-family: var(--font-poppins);
  text-align: center;
  width: 100px;  
  font-size: larger;

}

ul > li {
  margin-left: 25px;
  list-style-type:disc;
}

/*
.iframe_container_a{
  margin: auto;


  width: 66%;
  height: 600px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.iframe_container_b{
  width: 100%;
  height: 100%;

}
  */
