.fp_wrapper{
  background-color: #fee9e1;
  width: 100vw;
}
.fp_grid_container{
  background-color: #363636;
  margin: 3rem auto;
  padding-top: 4rem;
  padding-bottom: 4rem;
  border-radius: 50px;

  max-width: 800px;
  width: 66%;
  
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  font-family: var(--font-poppins);
}



.fp_grid_item{
  border-radius: 30px;

  position: relative;
  width: 40%;
  padding-bottom:40%; /* aspect ratio of 100:value */
  background-color: #B09E99;
  color: white;
  /* transition: 0.2s; */
}
.fp_grid_item:hover{
  scale: 1.1;
  outline: 5px solid #64B6AC;
  z-index: 4;
  outline-offset: -5px;
  
}
.fp_grid_item:hover hr{
  color: #64B6AC;
}

.fp_item_wrapper{
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
}

.fp_item_text{
  text-align: center;
  width: 100%;
}
.fp_item_text > h1 {
  display: block;
  font-size: min(3vw, 300%);
}

.fp_item_wrapper  hr {
  width: 100%;

}
.fp_item_text > p{
  font-size: 1rem;
}


@media screen and (max-width:700px) {
  .fp_grid_container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0 2rem 0;
    /* transition: 0.2s; */
  }

  .fp_grid_item{
    border-radius: 30px;
  
    position: relative;
    width: 60%;
    padding-bottom:60%; /* aspect ratio of 100:value */
    background-color: #B09E99;
    color: white;
    /* transition: 0.2s; */
  }
  .fp_item_wrapper{
    padding: 0.5rem;
  }
  .fp_item_text > p{
    display: none;
  }
  .fp_item_wrapper  hr {
    display: none;
  
  }
  .fp_item_wrapper{
    align-items: center;
  }

  .fp_item_text > h1 {
    display: block;
    font-size: 130%;
  }
  

}

@media screen and (max-width:450px) {
  .fp_grid_container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0 2rem 0;
    width: 100%;
    /* transition: 0.2s; */
  }
  .fp_grid_item{
    border-radius: 30px;

    position: relative;
    width: 80%;
    padding-bottom:80%; /* aspect ratio of 100:value */
    background-color: #B09E99;
    color: white;
  }
  .fp_item_wrapper{
    padding: 0.5rem;
  }
  .fp_item_text > p{
    display: none;
  }
  .fp_item_wrapper  hr {
    display: none;
  
  }
  .fp_item_wrapper{
    align-items: center;
  }

  .fp_item_text > h1 {
    display: block;
    font-size: 130%;
  }
  

}