@use '@/app/styles/global_scss' as gs;

.dd{
  position: relative;
  display: inline-block;
  flex-grow: 0.01;

}
.dd_button{
  background-color: gs.$button-as-border;
  height: 3rem;
  min-width: 130px;

}
.dd_options{
  position: absolute;

  background-color: gs.$options;
  width: 130px;
  z-index: 1;
  box-sizing:content-box;
}
.dd_option_show{display: block;}
.dd_option_hidden{display: none;}

.dd_options a{
  color: gs.$text-color-black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dd_options a:hover{
  background-color: gs.$options-highlight;
  cursor: pointer;
}

@media screen and (max-width:700px) {
  .dd_button{
    width: 100%;
  
  }
  .dd_options{
    width: 100%;
    text-align: center;
  }
}