.dd{
  position: relative;
  display: inline-block;
}
.dd_button{
  background-color: #64b6ac;
  height: 3rem;
  min-width: 160px;

}
.dd_options{
  position: absolute;
  background-color: #b09e99;
  min-width: 160px;
  z-index: 1;
}
.dd_option_show{display: block;}
.dd_option_hidden{display: none;}

.dd_options a{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dd_options a:hover{background-color: aqua;}

