
.table_a{
  background-color: #FAD4C0;
  text-align: left;
  width: 100%;
  border-radius: 10px;
}
.table_a tr:nth-child(even) {
  background-color: #FEE9E1;
}
.table_a td, .table_a th{
  padding: 0.5rem ;

}
.table_tbody{

}

.result_parent{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.result_item{
  height: 2rem;
  background-color: #B09E99;
  border-radius: 500px;
  color: black;
  padding: 0.1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.result_item p {
  margin: 0;
}