@use '@/app/styles/global_scss' as gs;

.table_a{
  background-color: gs.$bg-tone-2;
  text-align: left;
  width: 100%;
  border-radius: 10px;
}
.table_a tr:nth-child(even) {
  background-color: gs.$bg;
}
.table_a td, .table_a th{
  max-width: 400px;
  padding: 0.5rem ;

}

.linker{
  padding: 0.2rem 1.5rem 0.2rem 0;
}