@use '@/app/styles/global_scss' as gs;


.page_wrapper{
  max-width: gs.$max-width;
  width: 66%;
  margin: 0 auto;
  margin-top: 5rem;
  border-radius: 1rem;
  box-sizing: border-box;
  font-family: var(--font-poppins);
  font-weight:300;
}

@media screen and (max-width:1000px) {
  .page_wrapper{
    width: 100%;
    /* transition: 0.2s; */
  }
}

.sortandfilter_wrapper{
  margin: 0 10px 2rem 10px;
  border-radius: 1rem;
  outline: gs.$border solid 5px;
  padding: 10px;
  height: fit-content;
  margin-bottom: 2rem;
}

/*container*/
.sortandfilter{
  display: flex;
  align-items: stretch;

  flex-direction: row;
  flex-wrap:wrap;
  gap: 1px;
}

@media screen and (max-width:700px) {
  .sortandfilter{
    flex-direction: column;
    /* transition: 0.2s; */
  }
}

.the_link{
  display: block;
  color: gs.$text-color-black;
  font-size: x-large;
  background-color: gs.$bg-tone-2;
  padding: 0.3rem;
  text-align: center;
  border-radius: 1rem;

}
.display_results{
  outline: 5px solid gs.$border;
  margin: 1rem 10px;
  padding: 10px;
  border-radius: 1rem;
  overflow: scroll;
  margin-bottom: 2rem;
}

.remove_wrapper{
  margin-top: 2rem;
}

.remove_container{
  height: 3rem;
  margin: 1rem 0 ;
  display: flex;
  gap: 2px;
  align-items: center;
}
.remove_container h1{
  display: block;
  height: fit-content;
  padding: 0.5rem;

}

.remove_container > div {
  height: fit-content;
  border: 2px solid gs.$button-as-border;
  padding: 0.0rem;

  
}
.remove_wrapper_button{
  margin-left: auto;
  background-color: gs.$button-as-border;
  height: 3rem;
  min-width:  100px;
  padding: 0.3rem;
}

@media screen and (max-width:700px) {
  .remove_wrapper_button{
  margin: 0;
    
    /* transition: 0.2s; */
  }
}
