@use '@/app/styles/global_scss' as gs;

.table_a{
  background-color: gs.$bg-tone-2;
  text-align: left;
  width: 100%;
  border-radius: 10px;
}
.table_a tr:nth-child(even) {
  background-color: gs.$bg;
}
.table_a td, .table_a th{
  max-width: 400px;
  padding: 0.5rem ;

}

.linker{
  padding: 0.2rem 1.5rem 0.2rem 0;
}

/* */
.results_tables{
  border-radius: 10px;
  margin: 1rem 10px;
  padding:10px;
  outline: 5px solid #A8A8A8;

  .results_header{
    display: flex;
    width: 100%;
    align-items: center;
    >div{
      padding:0.5rem;
      box-sizing: border-box;
      white-space: nowrap; /* Prevent content wrapping */
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis; /* Add ellipsis for long content */
      >p,>a{
        font-weight: 700;
      }
    }
    }
  .results_items{
    display: flex;
    width: 100%;
    align-items: center;

    >div{
      padding:0.5rem;
      box-sizing: border-box;
      white-space: wrap; /* Prevent content wrapping */
      text-overflow: ellipsis; /* Add ellipsis for long content */
    }
  }
}

.title{
  flex:0 0 38%;
  min-width: 38%; 
    max-width: 38%;
}
.market{
  flex:0 0 18%;
  min-width: 18%;
  max-width: 18%;
}
.group{
  flex:0 0 12%;
  min-width: 12%;
  max-width: 12%;
}
.document{
  flex:0 0 14%;
  min-width: 14%;
  max-width: 14%;
}
.date{
  flex:0 0 15%;
  min-width: 14%;
  max-width: 14%;
}

    